@{ ViewBag.Title = "About"; }

<link href="~/Content/assets/css/css/Style1.css" rel="stylesheet" />
<div style="font-family: 'Sans-serif'">
    <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
        <div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center bg-text">
                        <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono'; ">GIỚI THIỆU</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h2 style="color: forestgreen" ;>Giới thiệu</h2>
<div class="row">
    <div class="col-lg-6">

        <p>Công ty TNHH Webcaycanh với sứ mệnh mang đến không gian xanh cho mọi người, chia sẻ kinh nghiệm và kiến thức chăm sóc cây cảnh. Đến với Web cây cảnh không đơn giản là mua cây, mà chúng tôi còn hướng dẫn quý khách hàng chăm sóc, cách khắc phục khi cây gặp phải vấn đề không tốt, cây cảnh tại cửa hàng đều được bảo hành và đảm bảo không bị ủ bệnh trước khi mua.</p>

        <p>Nếu quý khách gặp vấn đề về cây hãy liên hệ với chúng tôi, chúng tôi sẵn sàng tư vấn miễn phí và nhiệt tình, để cây có thể tốt trở lại.</p>

        <p>
            <b>Địa chỉ:</b> VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh.<br />
            <b>Số điện thoại:</b>(+84) 335 183 057<br />
            <b>Email:</b> duongquocan222@gmail.com<br />
        </p>
    </div>
    <div class="col-lg-6">
        <img src="~/Template/img/banner2.jpg" width="600" height="300" ; />
    </div>
</div>

<h3>Về Web cây cảnh</h3>
<div class="col-md-6">
    <p>
        - Cung cấp dạng các loại cây cảnh.<br />
        - Bảo hành khi mua cây.<br />
        - Tư vấn chuyên nghiệp<br />
        - Hỗ trợ giải đáp thắc mắc, chăm sóc cây.
    </p>
</div>

