
@{
    ViewBag.Title = "CachChamSoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/assets/css/css/Style1.css" rel="stylesheet" />
<section>
    <div style="font-family: 'Sans-serif'">
        <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
            <div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center bg-text">
                            <h1 class="mb-0 bread" style="color:antiquewhite">CÁCH CHĂM SÓC</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section>
    <h3 style="color: forestgreen" ;>Cách chăm sóc</h3>
    <div class="row">
        <div class="col-lg-9 col-md-7">
            <p><strong>Cách chăm sóc cây cảnh.</strong></p>
            <p>Trước tiên thay mặt đội ngũ công ty TA-TREES nói riêng và cộng đồng nói chung, cám ơn bạn đã góp phần làm xanh không gian. Để giúp quá trình phát triển cây cảnh tốt hơn dưới đây Shop xin chia sẻ một số kinh nghiệm chăm sóc.</p>
            <p>Hãy click vào loại cây mà bạn muốn chăm sóc:</p>
            <p>
                <strong>
                    <a href="">&#8211 Chăm sóc cây cảnh văn phòng (Cây trong nhà)</a><br />
                </strong>
            </p>
            <p>
                <strong>
                    <a href="">&#8211 Chăm sóc cây cảnh thủy sinh</a><br />
                </strong>
            </p>
            <p>
                <strong>
                    <a href="">&#8211 Chăm sóc sen đá</a><br />
                </strong>
            </p>

        </div>
        <div class="col-lg-3 col-md-5 cart-wrap ftco-animate">
            
            <div class="cart-total mb-3">
                <h3><b>Các loại cây cảnh</b></h3>
                <hr />
                <p><a href=" ">Cây trong nhà</a></p>
                <p><a href=" ">Cây văn phòng</a></p>
                <p><a href=" ">Cây thủy sinh</a></p>
                <p><a href=" ">Cây để bàn</a></p>
                <p><a href=" ">Cây sen đá</a></p>
            </div>
                
           
        </div>
    </div>

    <br />
</section>