
@{
    ViewBag.Title = "ChinhSachBaoHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/assets/css/css/Style1.css" rel="stylesheet" />
<section>
    <div style="font-family: 'Sans-serif'">
        <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
            <div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center bg-text">
                            <h1 class="mb-0 bread" style="color:antiquewhite">CHÍNH SÁCH CỦA CỬA HÀNG</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<section>
    <h3 style="color: forestgreen" ;>Chính sách bảo hành</h3>
    <div class="row">
        <div class="col-lg-6">
            <p><strong>1. Thời hạn bảo hành cây cảnh</strong></p>
            <p>Tất cả các sản phẩm được phân phối từ Web Cây Cảnh đều được bảo hành 14 ngày kể từ lúc giao hàng.</p>
            <p>Đối với các sản phẩm công trình được bảo hành đến khi cây phát triển ổn định, cây ra mầm.</p>
            <p>Hỗ trợ khách hàng trọn đời trong quá trình chăm cây, cây có hiện tượng lạ, chỉ cần chụp ảnh và gửi cho shop để tư vấn.</p>
            @*<div class="col-lg-8">*@
            <p>
                <strong>
                    2. Điều kiện bảo hành cây cảnh<br />
                </strong>
            </p>
            <p>Sản phẩm sẽ được bảo hành nếu thoả mãn các điều kiện sau:</p>
            <p>a. Sản phẩm còn trong hạn bảo hành.</p>
            <p>b. Hư hỏng do chất lượng sản phẩm.</p>
            <p>c. Sản phẩm không nằm trong trường hợp bị từ chối bảo hành cây cảnh.</p>

            <p><strong>3. Điều kiện từ chối bảo hành</strong></p>
            <p>Sản phẩm thuộc một trong những điều kiện sau sẽ bị từ chối bảo hành:</p>
            <p>a. Sản phẩm đã quá thời gian bảo hành</p>
            <p>b. Sản phẩm bị hư do thiên tai, hoả hoạn.</p>
            <p>c. Sản phẩm bị hư do chăm sóc sai hướng dẫn.</p>
            <p>d. Khách hàng gây nên những khuyết tật như biến dạng, rơi vỡ , trầy xướt.</p>
            <p>e. Sản phẩm để sai môi trường khuyến cáo.</p>
            <p>f. Sản phẩm bị thay đổi, trồng lại không phải do nhân viên của Web Cây Cảnh.</p>
            <p>g. Sản phẩm không mua từ Web Cây Cảnh.</p>
            <p>i. Không bảo hành vật dụng kèm theo nếu có.</p>
        </div>
        <div class="col-lg-6">
            <img src="~/Template/img/banner2.jpg" width="600" height="300" ; /><br />
        </div>
    </div>
    <br />
</section>

