@{ ViewBag.Title = "Contact"; }

<link href="~/Content/assets/css/style.css" rel="stylesheet" />
<link href="~/Content/assets/css/css/Style1.css" rel="stylesheet" />

<div style="font-family: 'Sans-serif'">
    <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
        <div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center bg-text">
                        <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono'; ">LIÊN HỆ VỚI CHÚNG TÔI</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
    <div class="container">
        <div>
            <p>Cây cảnh AT-TREES xin hân hạnh phục vụ quý khách với các dịch vụ cung cấp hay cho thuê cây văn phòng được rất nhiều khách hàng tại Việt Nam ưa thích và chọn lựa.</p>
            <p><b>Nếu có thắc mắc hãy liên hệ với chúng tôi thông qua:</b></p>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Địa chỉ:</span> VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Điện thoại:</span> <a href="tel://1234567920"><br />(+84)335 183 057</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">duongquocan22@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Website</span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>

            <div class="row block-9">
                <div class="col-md-12 d-flex">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31347.420966418384!2d106.7503523826599!3d10.855044321453683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527c3debb5aad%3A0x5fb58956eb4194d0!2zxJDhuqFpIEjhu41jIEh1dGVjaCBLaHUgRQ!5e0!3m2!1svi!2s!4v1666622537487!5m2!1svi!2s" width="1070" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>





