@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@Html.Partial("_MessageAlert")
<section>
    <div style="font-family: 'Sans-serif'">
        <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
            <div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center bg-text">
                            <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono'; ">Đặt Lại Mật Khẩu</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hgroup class="title d-flex justify-content-center">
    <h1>Đặt Lại Mật Khẩu</h1>
</hgroup>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="margin:50px 0 100px 0;">
            <hr />
            <div class="form-group d-flex align-items-center justify-content-center flex-column">
                <strong style="margin-bottom:20px; font-size:17px">Mã Xác Nhận </strong><input type="text" name="Passcodedd" class="form-control col-md-5 text-center" required />
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-primary py-3 px-4">Tiếp tục</button>
            </div>
        </div>
    }
</div>

