@{ ViewBag.Title = "Forgot Password Confirmation"; }
<section>
    <div style="font-family: 'Sans-serif'">
        <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
            <div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center bg-text">
                            <h1 class="mb-0 bread" style="color:antiquewhite">ĐĂNG NHẬP</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
    <h2>Xác nhận mật khẩu.</h2>
</hgroup>
<div>
    <p>
        @*Please check your email to reset your password.*@
        Vui lòng kiểm tra email của bạn để đặt lại mật khẩu của bạn.
    </p>
</div>
<hr />