@{
    ViewBag.Title = "Reset password";
}
@Html.Partial("_MessageAlert")
<section>
    <div style="font-family: 'Sans-serif'">
        <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
            <div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center bg-text">
                            <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono'; ">ĐẶT LẠI MẬT KHẨU </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Vui lòng nhập mật khẩu mới</h4>
    <hr />
    <div class="form-group">
        <label class="control-label" style="font-size:16px;font-weight:600">Mật khẩu mới </label>
        <input id="Password" type="password" name="pass" class="form-control col-md-10" required onchange="checkPass()" />
        <label id="notification-1" class="control-label" style="color:red; font-size:16px;font-weight:600;display:none"></label>
    </div>
    <div class="form-group">
        <label class="control-label" style="font-size:16px;font-weight:600">Nhập lại mật khẩu </label>
        <input id="rePassword" type="password" name="repass" class="form-control col-md-10" required onchange="checkPass()" />
        <label id="notification-2" class="control-label" style="color:red; font-size:16px;font-weight:600;display:none"></label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input disabled id="input_submit" type="submit" class="btn btn-primary py-3-px-4" value="Xác Nhận" onclick="checkPass()" />
        </div>
    </div>
}
<br />
<br />
<br />
<script>
    var pass
    var repass
    function checkPass() {
        pass = document.getElementById('Password').value;
        repass = document.getElementById('rePassword').value;
        if (pass.length < 7) {
            document.getElementById('input_submit').setAttribute('Disabled', 'Disabled')
            document.getElementById('notification-1').style.display = 'block'
            document.getElementById('notification-1').innerHTML = 'Mật khẩu phải có ít nhất 7 ký tự !'
        }
        else {
            document.getElementById('notification-1').style.display = 'none'
            if (repass.length!=0) {
                if (pass != repass) {
                    document.getElementById('notification-2').style.display = 'block'
                    document.getElementById('notification-2').innerHTML = 'Mật khẩu phải không trùng khớp!'
                    document.getElementById('input_submit').setAttribute('Disabled','Disabled')
                }
                else {
                    document.getElementById('notification-2').style.display = 'none'
                    document.getElementById('input_submit').removeAttribute("Disabled");
                }
            }
        }
    }
    //function checkRePass() {
    //    if (pass.length >= 7) {
    //        pass = document.getElementById('Password').value;
    //        repass = document.getElementById('rePassword').value;
    //        if (pass != repass) {
    //            document.getElementById('notification-2').style.display = 'block'
    //            document.getElementById('notification-2').innerHTML = 'Mật khẩu không trùng khớp !'
    //        }
    //        else {
    //            document.getElementById('notification-2').style.display = 'none'
    //            document.getElementById('input_submit').removeAttribute("Disabled");

    //        }
    //    }
    //}
</script>

