@{
    ViewBag.Title = "Reset password";
}
@Html.Partial("_MessageAlert")
<section>
    <div style="font-family: 'Sans-serif'">
        <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
            <div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center bg-text">
                            <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono'; ">ĐẶT LẠI MẬT KHẨU </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Vui lòng nhập mật khẩu mới</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-3" style="font-size:16px;font-weight:600">Nhập mật khẩu mới: </label>
        <input type="password" name="pass" class="form-control col-md-10" required />
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" style="font-size:16px;font-weight:600">Nhập lại mật khẩu: </label>
        <input type="password" name="repass" class="form-control col-md-10" required />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Xác Nhận" />
        </div>
    </div>
}
<br />
<br />
<br />

