@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.LinQ.DonHang>

@{
    Layout = null;
}
<div class="card-body">Đơn Hàng </div>
<div class="card-footer d-flex align-items-center justify-content-between">
    <a class="small text-white stretched-link" href="@Url.Action("Index", "DonHangs")"><strong style="font-size: 20px">@Model.Count()</strong></a>
</div>