@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.LinQ.NhomSP>
@{
    Layout = null;
}
<div class="card-body">Nhóm Sản Phẩm </div>
<div class="card-footer d-flex align-items-center justify-content-between">
    <a class="small text-white stretched-link" href="@Url.Action("Index", "NhomSP")"><strong style="font-size: 20px">@Model.Count()</strong></a>
</div>
